n8n copy.json
{
  "name": "Dental Clinic Email Outreach - FIXED",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Dw_PJ6mOnN189DAYXhwPMvn1DbXveqvTV5KdyfV2Ts4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Read Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Google Sheets account",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json['1st Email'] }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Filter Unchecked Rows",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "d4e5f6a7-b8c9-0123-def1-234567890123",
      "name": "Limit to 5",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-node-12345",
      "name": "Loop Over Contacts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "documentId": {
          "__rl": true,
          "value": "18SfnW_eXXsYqs3jRwbW3Dl-UuJV0fPt1AhnM7O4tsWE",
          "mode": "id"
        }
      },
      "id": "e5f6a7b8-c9d0-1234-ef12-345678901234",
      "name": "Read Email Template",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [1340, 300],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Google Sheets account",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the contact data from the loop\nconst contact = $input.item.json;\n\n// Get the email template\nconst template = $('Read Email Template').item.json.content;\n\n// Replace the placeholder with actual name\nconst personalizedEmail = template.replace('Hi {{Dr. + First Name}}', 'Hi ' + contact['Full Name']);\n\n// Return the data we need\nreturn {\n  recipientEmail: contact.Email,\n  fullName: contact['Full Name'],\n  emailBody: personalizedEmail,\n  rowNumber: contact.row_number\n};"
      },
      "id": "f6a7b8c9-d0e1-2345-f123-456789012345",
      "name": "Prepare Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{ $json.recipientEmail }}",
        "subject": "Front desk coverage for your clinic",
        "emailType": "text",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3456-1234-567890123456",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1780, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "Gmail account",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Dw_PJ6mOnN189DAYXhwPMvn1DbXveqvTV5KdyfV2Ts4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "range": "=B{{ $json.rowNumber }}:J{{ $json.rowNumber }}",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "dataMode": "autoMapInputData",
        "fieldsUi": {
          "values": [
            {
              "fieldId": "1st Email",
              "fieldValue": "TRUE"
            },
            {
              "fieldId": "Time Sent",
              "fieldValue": "={{ new Date(new Date().getTime() + (5 * 60 * 60 * 1000)).toISOString() }}"
            }
          ]
        }
      },
      "id": "update-sheet-node",
      "name": "Update Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2000, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Google Sheets account",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "unit": "={{ Math.floor(Math.random() * (900 - 300 + 1)) + 300 }}",
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4567-2345-678901234567",
      "name": "Random Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2220, 300],
      "webhookId": "random-delay-webhook"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheets": {
      "main": [
        [
          {
            "node": "Filter Unchecked Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unchecked Rows": {
      "main": [
        [
          {
            "node": "Limit to 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 5": {
      "main": [
        [
          {
            "node": "Loop Over Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Contacts": {
      "main": [
        [
          {
            "node": "Read Email Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Email Template": {
      "main": [
        [
          {
            "node": "Prepare Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Update Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet": {
      "main": [
        [
          {
            "node": "Random Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Delay": {
      "main": [
        [
          {
            "node": "Loop Over Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-07T12:00:00.000Z",
  "versionId": "2"
}
