n8n.json
{
  "name": "Dental Clinic Email Outreach v2",
  "nodes": [
    {
      "parameters": {},
      "id": "d0a1b2c3-0001-4000-a001-000000000001",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Dw_PJ6mOnN189DAYXhwPMvn1DbXveqvTV5KdyfV2Ts4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "d0a1b2c3-0002-4000-a002-000000000002",
      "name": "Read All Contacts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [500, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "filter-unsent-condition",
              "leftValue": "={{ $json['1st Email'] }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0a1b2c3-0003-4000-a003-000000000003",
      "name": "Filter Unsent Emails",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "d0a1b2c3-0004-4000-a004-000000000004",
      "name": "Limit to 5",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "d0a1b2c3-0005-4000-a005-000000000005",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst fullName = (item.json['Full Name'] || '').trim();\n\n// Extract first name, handle \"Dr.\" prefix\nconst nameParts = fullName.split(/\\s+/);\nlet firstName = nameParts[0] || fullName;\nif (['dr.', 'dr', 'doctor'].includes(firstName.toLowerCase()) && nameParts.length > 1) {\n  firstName = nameParts[1];\n}\n\nconst htmlBody = `<div style='font-family:Arial,Helvetica,sans-serif;font-size:16px;line-height:1.4;color:#000;'>\n\n<p style='margin:0 0 30px 0;'>Hi ${firstName},</p>\n\n<p style='margin:0 0 16px 0;'>\nI noticed you're hiring for a front desk receptionist. This might be useful either way.\n</p>\n\n<p style='margin:0 0 16px 0;'>\nEven great receptionists can't answer calls during lunch, after hours, or when they're with a patient at the desk.\nThose missed calls? Often new patients who just call the next clinic on Google.\n</p>\n\n<p style='margin:0 0 12px 0;'>\nI built an <strong style='font-weight:700;'>AI Receptionist for dental practices</strong> that acts as a safety net. It:\n</p>\n\n<ul style='margin:0 0 16px 20px;padding-left:20px;'>\n  <li style='margin-bottom:8px;'><strong style='font-weight:700;'>Answers calls 24/7</strong> \\u2013 nights, weekends, holidays</li>\n  <li style='margin-bottom:8px;'>Books, reschedules, and cancels appointments during the conversation</li>\n  <li style='margin-bottom:8px;'>Answers questions about services, hours, and insurance</li>\n  <li>Logs every call in a dashboard with full details</li>\n</ul>\n\n<p style='margin:0 0 16px 0;'>\nIt works alongside your team, not instead of them.\n</p>\n\n<p style='margin:0 0 16px 0;'>\n<strong style='font-weight:700;'>I recorded a 90-second demo</strong> of it handling a patient trying to book an appointment.\nWant me to send it?\n</p>\n\n<p style='margin:0 0 16px 0;'>\nJust reply <strong style='font-weight:700;'>\"DEMO\"</strong> and I'll share the link.\n</p>\n\n<p style='margin:16px 0 0 0;'>\nBest,<br>\nMoiz<br>\nFounder \\u2013 OrthoAI<br>\nAI Dental Receptionist\n</p>\n\n</div>`;\n\nreturn [{\n  json: {\n    recipientEmail: item.json['Email'],\n    fullName: fullName,\n    firstName: firstName,\n    emailBody: htmlBody\n  }\n}];"
      },
      "id": "d0a1b2c3-0006-4000-a006-000000000006",
      "name": "Build Personalized Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 500]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{ $json.recipientEmail }}",
        "subject": "Front desk coverage for your clinic",
        "emailType": "html",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "d0a1b2c3-0007-4000-a007-000000000007",
      "name": "Send Email via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1840, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the email address from the Build Personalized Email node\nconst emailData = $('Build Personalized Email').first();\nconst recipientEmail = emailData.json.recipientEmail;\n\n// Calculate Pakistan Standard Time (UTC+5) in ISO 8601 format\nconst now = new Date();\nconst pstOffsetMs = 5 * 60 * 60 * 1000;\nconst pstDate = new Date(now.getTime() + pstOffsetMs);\n\nconst pad = (n) => n.toString().padStart(2, '0');\nconst pstISO = pstDate.getUTCFullYear() + '-' +\n  pad(pstDate.getUTCMonth() + 1) + '-' +\n  pad(pstDate.getUTCDate()) + 'T' +\n  pad(pstDate.getUTCHours()) + ':' +\n  pad(pstDate.getUTCMinutes()) + ':' +\n  pad(pstDate.getUTCSeconds()) + '+05:00';\n\nreturn [{\n  json: {\n    \"Email\": recipientEmail,\n    \"1st Email\": \"TRUE\",\n    \"Time Sent\": pstISO\n  }\n}];"
      },
      "id": "d0a1b2c3-0008-4000-a008-000000000008",
      "name": "Prepare Sheet Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 500]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Dw_PJ6mOnN189DAYXhwPMvn1DbXveqvTV5KdyfV2Ts4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["Email"]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "d0a1b2c3-0009-4000-a009-000000000009",
      "name": "Mark as Sent in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2440, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (900 - 300 + 1)) + 300 }}",
        "unit": "seconds"
      },
      "id": "d0a1b2c3-0010-4000-a010-000000000010",
      "name": "Random Delay 5-15 min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2740, 500],
      "webhookId": "d0a1b2c3-wait-4000-a000-delay0000001"
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Read All Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Contacts": {
      "main": [
        [
          {
            "node": "Filter Unsent Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unsent Emails": {
      "main": [
        [
          {
            "node": "Limit to 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Build Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Personalized Email": {
      "main": [
        [
          {
            "node": "Send Email via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Gmail": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Update": {
      "main": [
        [
          {
            "node": "Mark as Sent in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Sent in Sheet": {
      "main": [
        [
          {
            "node": "Random Delay 5-15 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Delay 5-15 min": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-07T12:00:00.000Z",
  "versionId": "1"
}
